fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
httpx

# Auth
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart

# Face recognition
opencv-python
numpy
insightface
onnxruntime
faiss-cpu

# OCR (bien so xe)
easyocr


